@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

.groupbtnsec{
    position: relative;
    top: 1rem;
    
    &__btns{
        @include flex-position(
            flex,
            row,
            auto,
            center,
            center,
            center
        );
        flex-wrap: wrap;
        margin: .5rem;
    }
}