@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

.pageinstitucional{
  width: 100vw;
  height: auto;
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  background-color: $cor-bg-branco;

  &__indicador{
    width: 100vw;
    height: .4rem;
    background-color:$cor-sec-institucional;
  }

  &__content{
    margin: 2.2rem 0;
    width: 80vw;
    max-width: 1630px;

    h1{
      font-size: $tam-font-42;
      font-weight: $font-regular;
      padding-bottom: 2.2rem;
    }

    h2 span{
      font-weight: $font-extrabold;
    }

    h2{
      font-size: $tam-font-18;
      font-weight: $font-medium;
      margin: 1rem auto;
    }

    p{
      font-size: $tam-font-26;
      font-weight: $font-medium;
    }
  }

  &__picture{
    // position: relative;
    // display: flex;
    // justify-content: center;
    margin: 2.2rem 0 2.2rem 0;
    // width: 100%;
    // max-width: 1630px;
    
    &--img{
      // width: 100%;
      // height: 100%;
      object-fit: cover;
    }
    
    // &--logo{
    //   position: absolute;
    //   bottom: 0;
    //   margin: 1rem 1.2rem;
    //   width: 10vw;
    //   max-width: 200px;
    //   height: auto;
    // }
  }

  &__about{
    @include flex-position(
      flex,
      row,
      auto,
      center,
      center,
      center
    );
    margin-bottom: 2.2rem;
    width: 96vw;
    
    .pageabout{
      width: auto;
      display: flex;
      overflow: scroll;
      gap: 1rem;

    }
  }
}

@include viewport(xl){
  .pageinstitucional{
    &__content{
      width: 96vw;
    }

    &__content h1{
      font-size: $tam-font-30;
    }

    &__content p{
      font-size: $tam-font-22;
    } 
  }
}

@include viewport(md){
  .pageinstitucional{
    &__content{
      flex-wrap: nowrap;
      overflow: hidden;
    }

    &__content h1{
      font-size: $tam-font-26;
    }
    
    &__content h2{
      font-size: $tam-font-14;
    }
    
    &__content p{
      font-size: $tam-font-18;
    }

    &__picture{
      width: 96vw;
      margin-top: 0;
    }
  }
}

@include viewport(smd){
  .pageinstitucional{
    &__content h1{
      font-size: $tam-font-26;
      
    }

    &__picture--box h3{
      padding: .5rem 1rem 1rem 1rem;
      font-size: $tam-font-14;
    }

    &__about .pageabout{
      @include flex-position(
        flex,
        column,
        auto,
        center,
        center,
        center
      );
    }
  }
}