@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

.buttonsection{
    @include box-model($borda-pequena);
    background-color: $cor-bg-branco;
    width: 125px;
    height: 105px;
    margin: 6px 6px;
    transition-duration: .3s;
    cursor: pointer;
    
    &__cor{
        width: 125px;
        height: 7px;
        cursor: pointer;
    }
    
    &__content{
        @include flex-position(
            flex,
            column,
            auto,
            space-around,
            center,
            center
            );
        height: 96px;
        cursor: pointer;
        
        img{
            margin-top: 10px;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        
        h1{
            font-size: $tam-font-14;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }

    &:hover{
        transform: translateY(-5px);
        transition-duration: .3s;
    }
}

@include viewport(sm){
    .buttonsection{
        width: 110px;
        height: 105px;
        margin: 4px;
        
        &__content{
            height: 96px;
    
            img{
                width: 38px;
                height: 38px;
            }
                
            h1{
                font-size: $tam-font-12;
                margin-bottom: 10px;
            }
        }
    }
}