@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;


.carroestamp{
    max-width: 1920px;
    overflow: hidden;
}
.estampador{
    @include flex-position(
        flex,
        row,
        0,
        center,
        center,
        center
    );
    position: relative;

    &__cta{
        position: absolute;
        right: 150px;
        width: 31.375rem;
        height: auto;
        white-space: wrap;
        background-color: $cor-bg-branco;

        img{
            margin: 2rem;
        }

        h1{
            color: $cor-font-vermelha;
            font-size: $tam-font-18;
            font-weight: $font-medium;
            padding: 0 2rem;
        }

        button{
            margin: 2rem;
        }
    }
}

@include viewport(md){
    .estampador{
        display: flex;
        flex-direction: column;
        &__cta{
            top: -50px;
            left: 0;
            position: relative;
            width: 26.125rem;
            img{
                width: 155px;
                height: 110px;
                margin: 1.5rem;
            }

            h1{
                font-size: $tam-font-16;
            }

            button{
                margin: 1.5rem;
            }
        }
    }
}

@include viewport(sm){
    .estampador{
        &__cta{
            width: 95%;

            img{
                width: 100px;
                height: 70px;
                margin-top: 1rem;
            }

            h1{
                font-size: $tam-font-14;
                padding: 0 1rem;
            }

            button{
                margin: 1.5rem;
            }
        }
    }
}