@use '../variables/variables' as *;



// FLEX-BOX------------------------------------------

@mixin flex-position(
    $display,
    $flex-direction,
    $margin,
    $justify-content,
    $text-align,
    $align-items
){
    display: $display;
    flex-direction: $flex-direction;
    margin: $margin;
    justify-content: $justify-content;
    text-align: $text-align;
    align-items: $align-items;
}



// BUTTON-MODEL--------------------------------------

@mixin button-model(){
    padding: .5rem 1rem;
    background-color: $cor-bg-vermelho;
    border-radius: $borda-pequena;
    border: $borda;
    box-shadow: $borda-shadow;
    color: $cor-font-branco;
    font-size: $tam-font-20;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: .2s;
}

@mixin button-model-hover(){
    background-color: $cor-bg-vermelho-hover;
    transition-duration: .2s;
    transform: translateY(-.1rem);
}


// BUTTON-DISABLED-MODEL--------------------------------------

@mixin button-disabled-model(){
    padding: .5rem 1rem;
    background-color: $cor-bg-cinza-claro;
    border-radius: $borda-pequena;
    border: $borda;
    box-shadow: $borda-shadow-inset;
    color: $cor-font-marcadagua;
    font-size: $tam-font-20;
    font-weight: 800;
    text-transform: uppercase;
    cursor: default;
}



// BOX-MODEL-----------------------------------------

@mixin box-model($borda-tam){
    border-radius: $borda-tam;
    border: $borda;
    box-shadow: $borda-shadow;
    overflow: hidden;
}



/// INPUT-MODEL--------------------------------------

@mixin input-model($borda-tam){
    border-radius: $borda-tam;
    border: $borda;
    box-shadow: $borda-shadow-inset;
    padding: .6rem;
    cursor: pointer;
    outline: none;
}



// MEDIA-QUERY---------------------------------------

@mixin viewport($breakpoints){
    $devices:(
        xs: 320px,
        sm: 480px,
        smd: 600px,
        md: 768px,
        lg: 992px,
        xl: 1200px
    );
    $breakpoint: map-get($devices, $breakpoints);
    
    @media(max-width: $breakpoint){
        @content
    }
}