@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

@keyframes jump{
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
}

.inboundmkt{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  position: fixed;
  width: 7rem;
  height: 7rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  
  .btnhidden{
    width: 6rem;
    border-radius: 50%;
    animation: jump 1s ease infinite;
    z-index: 1;
    cursor: pointer;
  }
  
  .btnvisible{
    border-radius: 50%;
    width: 6rem;
    z-index: 2;
    cursor: pointer;
  }
}

.inboundmktmodal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: $cor-bg-preto-blur;
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  z-index: 1;

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $cor-bg-branco;
    padding: 2rem;
    width: 22rem;
    min-height: 12rem;
    max-width: 90vh;
    @include box-model($borda-grande);

    p{
      font-size: $tam-font-22;
      font-weight: $font-medium;
    }

    form{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }

    form input{
      @include input-model($borda-pequena);
      margin-top: .5rem;
      background-color: $cor-bg-branco-super;
      color: $cor-font-preta;
    }

    form span{
      font-size: 10px;
      color: $cor-font-vermelha;
      text-align: start;
      padding-left: .5rem
    }

    .btnenviar{
      @include button-model;
      margin-top: 2rem;

      &:hover{
        @include button-model-hover;
      }
    }
  }
}


@include viewport(xl){
  .inboundmkt{
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@include viewport(md){
  .inboundmkt{
    bottom: 0;
    right: 0;

    .btnhidden{
      width: 4.5rem;
    }
    
    .btnvisible{
      width: 4.5rem;
    }
  }

  .inboundmktmodal{
    &__content{
      padding: 1rem;
      max-width: 90vw;

      p{
        font-size: $tam-font-18;
      }
    }

    .btnenviar{
      margin-top: 1rem;
      font-size: $tam-font-18;
      min-width: 7rem;

      &:hover{
        font-size: $tam-font-18;
        min-width: 7rem;
      }
    }
  }
}

@include viewport(md){
  .inboundmktmodal{
    &__content{
      p{
        font-size: $tam-font-16;
      }
    }

    .btnenviar{
      font-size: $tam-font-16;

      &:hover{
        font-size: $tam-font-16;
      }
    }
  }
}