@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

@keyframes carrosselhomeDKT{
  from{
      transform: translateX(0);
  }
  to{

      transform: translate(-2982px);
  }
}

@keyframes carrosselhomeTBL{
  from{
      transform: translateX(0);
  }
  to{

      transform: translate(-2342px);
  }
}

.carrosselhome{
  @include flex-position(
    inline-block,
    row,
    auto,
    center,
    center,
    center
  );
  position: relative;
  left: -10px;
  width: 50vw;
  max-width: 1200px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  
  img{
    animation: carrosselhomeDKT 60s infinite linear;
    width: 180px;
    height: 180px;
    @include box-model($borda-pequena);
    overflow: visible;
    margin: .2rem;
  }
}

@include viewport(xl){
  .carrosselhome{
    width: 96vw;
    margin: 0;
  }
}

@include viewport(md){
  .carrosselhome{
    max-width: 96vw;
    left: 0;
    
    img{
      animation: carrosselhomeTBL 60s infinite linear;
      width: 140px;
      height: 140px;
    }
  }
}