@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

.buscacategoria__carregando{
    @include flex-position(
            flex,
            column,
            auto,
            center,
            center,
            center
        );
    width: 100vw;
    height: auto;
    color: $cor-font-marcadagua;
    margin: 2.2rem;

    div{
        margin-top: 3rem;
    }

    svg, path{
        cursor: pointer;
    }

    svg{
        transition-duration: .5s;
        color: $cor-bg-vermelho;

        &:hover{
            transform: rotate(360deg);
            transition-duration: .5s;
        }

    }
}

.buscacategoria{
    background-color: $cor-bg-cinza-claro;
    
    &__content{
        @include flex-position(
            flex,
            column,
            auto,
            center,
            center,
            center
        );
        width: 80vw;
        
        &--paragrafo{
            margin: 1.5rem 0 0 0;
            font-weight: $font-regular;
            font-size: $tam-font-42;
        }

        &--secbtn{
            display: flex;
            flex-direction: row;
            margin: 1.5rem;
        }
    }
}

@include viewport(lg){
    .buscacategoria{
        &__content--secbtn{
            display: flex;
            flex-direction: column;
        }

        p{
            font-size: $tam-font-30;
        }
    }

    .buscacategoria__carregando{
        p{
            font-size: $tam-font-12;
        }
    
        div{
            margin-top: 1.5rem;
        }
    }
}

@include viewport(xs){
    .buscacategoria{
        p{
            font-size: $tam-font-26;
        }
    }
}
