@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;


.cardrevendedores{
  @include flex-position(
    flex,
    column,
    auto,
    space-around,
    center,
    center
  );
  @include box-model($borda-pequena);
  margin: .5rem;
  width: 23rem;
  height: 15rem;
  background-color: $cor-bg-cinza-claro;
  padding: 1.5rem;

  &__content{
    width: 4rem;
    height: 4rem;
    background-color: $cor-bg-branco;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: .5rem;
  }
  
  h1{
    font-size: $tam-font-18;
    font-weight: $font-semibold;
  }

  p{
    font-size: $tam-font-16;
    font-weight: $font-regular;
  }

  img{
    width: 4rem;
  }
}

@include viewport(xl){
  .cardrevendedores{
    width: 18rem;
    height: auto;
    padding: 1rem;

    &__content{
      width: 3.5rem;
      height: 3.5rem;
    }
    
    p{
      font-size: $tam-font-14;
    }

    img{
      width: 3.5rem;
    }
    
  }
}

@include viewport(md){
  .cardrevendedores{
    h1{
      font-size: $tam-font-16;
    }
    
    p{
      font-size: $tam-font-12;
    }
  }
}