@use './variables/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: $cor-font-preta;
  background-color: $cor-bg-branco;
}

a{
  color: inherit;
  text-decoration: none;
  list-style: none;
}